In [1]:
import pandas as pd

In [56]:
df = pd.read_excel('./Data_Train.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [57]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [58]:
df.dropna(inplace=True)

In [59]:
df.isna().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
Price              0
dtype: int64

In [60]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [25]:
df['Day_of_Journey'] = pd.to_datetime(df['Date_of_Journey'], format='%d/%m/%Y').dt.day
df['Month_of_Journey'] = pd.to_datetime(df['Date_of_Journey'], format='%d/%m/%Y').dt.month
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [26]:
df['Arrival_Hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
df['Arrival_Min'] = pd.to_datetime(df['Arrival_Time']).dt.minute
df.head()

C:\Users\Mritunjay Paswan\AppData\Local\Temp\ipykernel_11076\485609277.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Hour'] = pd.to_datetime(df['Arrival_Time']).dt.hour
C:\Users\Mritunjay Paswan\AppData\Local\Temp\ipykernel_11076\485609277.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Arrival_Min'] = pd.to_datetime(df['Arrival_Time']).dt.minute

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Arrival_Hour,Arrival_Min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,1,10
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,4,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,21,35

In [27]:
df['Dep_hours'] = pd.to_datetime(df['Dep_Time']).dt.hour
df['Dep_min'] = pd.to_datetime(df['Dep_Time']).dt.minute
df.head()

C:\Users\Mritunjay Paswan\AppData\Local\Temp\ipykernel_11076\2839258059.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_hours'] = pd.to_datetime(df['Dep_Time']).dt.hour
C:\Users\Mritunjay Paswan\AppData\Local\Temp\ipykernel_11076\2839258059.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_min'] = pd.to_datetime(df['Dep_Time']).dt.minute

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Arrival_Hour,Arrival_Min,Dep_hours,Dep_min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,1,10,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,13,15,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,4,25,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,23,30,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,21,35,16,50

In [28]:
df['Duration']

0        2h 50m
1        7h 25m
2           19h
3        5h 25m
4        4h 45m
          ...
10678    2h 30m
10679    2h 35m
10680        3h
10681    2h 40m
10682    8h 20m
Name: Duration, Length: 10682, dtype: object

In [33]:
df['Duration'] = df['Duration'].apply(lambda x: str(x).replace('h', '').replace('m', '').split(' '))
df['Duration']

0        [2, 50]
1        [7, 25]
2           [19]
3        [5, 25]
4        [4, 45]
          ...
10678    [2, 30]
10679    [2, 35]
10680        [3]
10681    [2, 40]
10682    [8, 20]
Name: Duration, Length: 10682, dtype: object

In [34]:
df['Duration_Hours'] = df['Duration'].apply(lambda x: x[0] if len(x) > 1 else 0)
df['Duration_Minutes'] = df['Duration'].apply(lambda x: x[1] if len(x) > 1 else 0)

In [35]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Arrival_Hour,Arrival_Min,Dep_hours,Dep_min,Duration_Hours,Duration_Minutes
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,"[2, 50]",non-stop,No info,3897,24,3,1,10,22,20,2,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,"[7, 25]",2 stops,No info,7662,1,5,13,15,5,50,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,[19],2 stops,No info,13882,9,6,4,25,9,25,0,0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,"[5, 25]",1 stop,No info,6218,12,5,23,30,18,5,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,"[4, 45]",1 stop,No info,13302,1,3,21,35,16,50,4,45

In [36]:
df.drop(['Date_of_Journey', 'Dep_Time', 'Arrival_Time'], axis=1, inplace=True)

In [37]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Arrival_Hour,Arrival_Min,Dep_hours,Dep_min,Duration_Hours,Duration_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,"[2, 50]",non-stop,No info,3897,24,3,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,"[7, 25]",2 stops,No info,7662,1,5,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,[19],2 stops,No info,13882,9,6,4,25,9,25,0,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,"[5, 25]",1 stop,No info,6218,12,5,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,"[4, 45]",1 stop,No info,13302,1,3,21,35,16,50,4,45

In [42]:
# Step 1: Extract hours and minutes safely
def extract_duration_parts(duration_list):
    hours = duration_list[0] if len(duration_list) > 0 else 0
    minutes = duration_list[1] if len(duration_list) > 1 else 0
    return hours, minutes

# Step 2: Apply the function and split into two columns
df['Duration_Hours'], df['Duration_Minutes'] = zip(*df['Duration'].map(extract_duration_parts))

# Step 3: Drop the original 'Duration' column
df.drop('Duration', axis=1, inplace=True)

In [43]:
df = pd.get_dummies(df, drop_first=True)

In [44]:
df

,Price,Day_of_Journey,Month_of_Journey,Arrival_Hour,Arrival_Min,Dep_hours,Dep_min,Airline_Air India,Airline_GoAir,Airline_IndiGo,...,Duration_Minutes_15,Duration_Minutes_20,Duration_Minutes_25,Duration_Minutes_30,Duration_Minutes_35,Duration_Minutes_40,Duration_Minutes_45,Duration_Minutes_5,Duration_Minutes_50,Duration_Minutes_55
0,3897,24,3,1,10,22,20,False,False,True,...,False,False,False,False,False,False,False,False,True,False
1,7662,1,5,13,15,5,50,True,False,False,...,False,False,True,False,False,False,False,False,False,False
2,13882,9,6,4,25,9,25,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,6218,12,5,23,30,18,5,False,False,True,...,False,False,True,False,False,False,False,False,False,False
4,13302,1,3,21,35,16,50,False,False,True,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,4107,9,4,22,25,19,55,False,False,False,...,False,False,False,True,False,False,False,False,False,False
10679,4145,27,4,23,20,20,45,True,False,False,...,False,False,False,False,True,False,False,False,False,False
10680,7229,27,4,11,20,8,20,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10681,12648,1,3,14,10,11,30,False,False,False,...,False,False,False,False,False,True,False,False,False,False
10682,11753,9,5,19,15,10,55,True,False,False,...,False,True,False,False,False,False,False,False,False,False

In [45]:
X = df.drop('Price', axis=1)
y = df['Price']

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [48]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [49]:
y_pred = model.predict(X_test)

In [50]:
res = pd.DataFrame({
    'actual': y_test,
    'predicted': y_pred
})
res

       actual     predicted
6075    16655  13173.351562
3544     4959   8862.609375
9291     9187   9374.695312
5032     3858   3918.179688
2483    12898   9778.640625
...       ...           ...
9797     7408  10082.953125
9871     4622   5339.335938
10063    7452   6667.296875
8802     8824   9535.804688
8617    14151  13895.460938

[2137 rows x 2 columns]

In [51]:
import numpy as np

In [53]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)
rmse, r2

(197592493978.90903, -1810717544274987.0)

In [54]:
df['Price'].mean()

9087.21456656057

In [55]:
df.describe()

,Price,Day_of_Journey,Month_of_Journey,Arrival_Hour,Arrival_Min,Dep_hours,Dep_min
count,10682.000000,10682.000000,10682.000000,10682.000000,10682.000000,10682.000000,10682.000000
mean,9087.214567,13.509081,4.708575,13.349186,24.690601,12.491013,24.409287
std,4611.548810,8.479363,1.164408,6.859317,16.506808,5.748820,18.767801
min,1759.000000,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,5277.000000,6.000000,3.000000,8.000000,10.000000,8.000000,5.000000
50%,8372.000000,12.000000,5.000000,14.000000,25.000000,11.000000,25.000000
75%,12373.000000,21.000000,6.000000,19.000000,35.000000,18.000000,40.000000
max,79512.000000,27.000000,6.000000,23.000000,55.000000,23.000000,55.000000